body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 252, 214) 0%,
    rgba(255, 102, 102, 0.44) 90%
  );
}

h1,
h3,
p {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  margin: 20px;
  text-decoration: none;
  color: coral;
}

.links a:hover {
  text-decoration: underline;
  color: blueviolet;
}
